[2015-06-15 03:10] rlwalls2008 opened #1 "Community species richness & diversity"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/3_

----

[code]

Original issue reported on code.google

[2015-06-15 03:10] ramonawalls commented on #1
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 21 Mar 2013 at 9:11
- Changed state: **Accepted**

[2015-06-15 03:10] ramonawalls commented on #1
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 21 Mar 2013 at 11:01

[2015-06-15 03:10] ramonawalls commented on #1
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `cmung...@gmail.com` on 21 Mar 2013 at 11:41

[2015-06-15 03:10] ramonawalls commented on #1
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 6 Feb 2015 at 4:17

[2015-06-15 03:10] ramonawalls commented on #1
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

Original comment by `rlwalls2...@gmail.com` on 6 Feb 2015 at 5:05
- Changed state: **Started**

[2015-06-15 03:10] rlwalls2008 opened #2 "population qualities"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/4_

----

[code]

Original issue reported on code.google

[2015-06-15 03:10] ramonawalls commented on #2
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 21 Mar 2013 at 10:35
- Changed state: **Accepted**

[2015-06-15 03:10] ramonawalls commented on #2
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 21 Mar 2013 at 10:40

[2015-06-15 03:10] ramonawalls commented on #2
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `cmung...@gmail.com` on 21 Mar 2013 at 11:35

[2015-06-15 03:10] rlwalls2008 opened #3 "definition of family - restrict to a biological definition?"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/7_

----

[code]

Original issue reported on code.google

[2015-06-15 03:10] ramonawalls commented on #3
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 6 Feb 2015 at 5:11

[2015-06-15 03:10] ramonawalls opened #4 "Feature request: Add relations for interaction between pairs of organisms"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/8_

---

[code]

Original issue reported on code.google.

[2015-06-15 03:10] ramonawalls commented on #4
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `dosu...@gmail.com` on 12 Dec 2013 at 10:25

[2015-06-15 03:10] ramonawalls opened #5 "Symbiotic relationships between viruses and other entities"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/9_

---

[code]

Original issue reported on code.google.

[2015-06-15 03:10] rlwalls2008 opened #6 "Term request: Generation F1, Generation F2 population output of some breeding event"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/10_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls commented on #6
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

Original comment by `rlwalls2...@gmail.com` on 2 Oct 2014 at 6:05
- Changed state: **Accepted**
- Added labels:

[2015-06-15 03:10] rlwalls2008 opened #7 "new relations and terms for tri-trophic TCN and iDigBio"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/12_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls commented on #7
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 2 Dec 2014 at 2:41
- Changed state: **Started**

[2015-06-15 03:10] ramonawalls opened #8 "NewTerm: A class to match Organism in DwC"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/13_

---

[code]

Original issue reported on code.google

[2015-06-15 03:10] ramonawalls commented on #8
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 6 Feb 2015 at 5:04
- Changed state: **Started**

[2015-06-15 03:10] rlwalls2008 opened #9 "NewTerm: operational taxonomic unit (OTU)"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/14_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls commented on #9
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `p.buttig...@gmail.com` on 6 Feb 2015 at 5:22

[2015-06-15 03:10] rlwalls2008 opened #10 "NewTerm: relations: emerged fom and reared from"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/15_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] rlwalls2008 opened #11 "NewTerm: relation for "found near" or "near""
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/16_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls opened #12 "NewTerm: population migration and/or species migration"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/17_

---

[code]

Original issue reported on code.google

[2015-06-15 03:10] ramonawalls commented on #12
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

Original comment by `rlwalls2...@gmail.com` on 16 Mar 2015 at 5:59
- Changed title: **NewTerm: population migrat

[2015-06-15 03:10] rlwalls2008 opened #13 "Migrate this site to github"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/18_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls commented on #13
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 11 Jun 2015 at 10:47

[2015-06-15 03:10] ramonawalls commented on #13
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

Original comment by `rlwalls2...@gmail.com` on 11 Jun 2015 at 10:48
- Changed state: **Started**

[2015-06-15 03:10] ramonawalls commented on #13
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 11 Jun 2015 at 11:19

[2015-06-15 03:10] rlwalls2008 opened #14 "Change Term Request: Make CARO organism or virus or viroid a subclass of material entity"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/19_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] rlwalls2008 opened #15 "NewTerm: LTER mappings"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/20_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:10] ramonawalls commented on #15
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 3 Apr 2015 at 12:05

[2015-06-15 03:10] ramonawalls commented on #15
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_

---

[code]

Original comment by `rlwalls2...@gmail.com` on 3 Apr 2015 at 12:06
- Changed state: **Accepted**

[2015-06-15 03:10] rlwalls2008 opened #16 "Old BFO classes"
<a href="https://github.com/GoogleCodeExporter"><img src="https://avatars.githubusercontent.com/u/9614759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GoogleCodeExporter](https://github.com/GoogleCodeExporter)**
_Thursday Jun 11, 2015 at 23:48 GMT_
_Originally opened as https://github.com/rlwalls2008/pco/issues/21_

----

[code]

Original issue reported on code.googl

[2015-06-15 03:11] #13 closed

[2015-06-15 03:27] #14 closed

[2015-06-15 03:29] ramonawalls commented on #16
This is done.

[2015-06-15 03:29] #16 closed

[2015-06-17 14:36] KatjaSchulz opened #17 "visitor"

[2015-06-17 14:36] #17 closed

[2015-07-24 15:39] pbuttigieg commented on #2
Keep in mind that [growth](http://purl.obolibrary.org/obo/GO_0040007) is constrained to an organism or cell. The basic ecological population model that has [reproduction](http://purl.obolibrary.org/obo/GO_0000003) as a part as well as immigration, emigration, death (by predation, disease, old age, etc) can be helpful here. Population and/or community growth occurs when reproduction and immigration

[2015-08-07 03:31] ramonawalls commented on #1
See notes from discussion on 7/24/15 https://docs.google.com/document/d/1-xzkHEF-D0PLLSYgck_aNrOz2TpWh0GDDMi3i1MjZqw/edit

[2015-08-07 03:31] #1 closed

[2015-08-07 03:36] rlwalls2008 opened #18 "Make purls for older releases"
So that they an remain in tags, where partial redirect does not work.

[2015-08-07 04:06] rlwalls2008 opened #19 "Move Ontofox input files from tag to main repo"
They got put in a tag as part of the migration from Google Code, but should be in a docs folder in the master repository.

[2015-08-07 16:16] ramonawalls commented on #18
Maybe better to move them to a directory in the main repository for releases. Using tags for releases at this point is problematic, because of the need to created merged, pre-reasoned files with the same name as the editor's file (pco.owl). It is certainly possible, but requires a more sophisticated release pipeline that what we have in place.

[2015-08-07 16:20] rlwalls2008 opened #20 "Import population qualities from PATO"
PATO has a class (PATO_0002003) called population quality. It is equivalant to the union of PCO's population quality and community quality. Need to make a PCO class defined as a quality that inheres in a collection of organism, then PATO classes like morbidity and mixed sex can live under there.

Further development of population qualities can occur in PCO instead of PATO.

[2015-08-07 16:21] ramonawalls commented on #20
See PATO issue 66: https://github.com/pato-ontology/pato/issues/66

[2015-08-07 16:26] rlwalls2008 opened #21 "Create GCIs for classes that have cardinality restrictions"
We have classes like collection of organisms, which is defined as:
'object aggregate'
 and ('has member' only 'organism or virus or viroid')
 and ('has member' min 2 'organism or virus or viroid')

This cannot be reasoned over in EL.

See https://github.com/pato-ontology/pato/blob/master/src/ontology/pato_ext_notes.md

[2015-09-03 19:56] ramonawalls opened #22 "NTR: microbial community"
Subclass of ecological community

[2015-10-19 23:25] rlwalls2008 opened #23 "NTR: population density"
This is a type of environmental quality, but it could also be a quality of a population.

See original request at https://github.com/EnvironmentOntology/envo/issues/259, including "We would use this neutral quality to define environmental exposures (of relevance to SDGIO type projects, public health, etc) as well as experimental treatments."

[2015-11-12 23:59] rlwalls2008 opened #24 "NTR: colony"
This is already in IDO, and being imported into MicrO, but should probably be a PCO term. Maybe we can import from IDO for the mean time.

[2015-11-25 17:09] rlwalls2008 opened #25 "NTR: agricultural household"
Term has been requested for the SDGIO ontology. Should be a subclass of household. Will need to create the terms for agricultural elsewhere, perhaps as a role in SDGIO.

[2015-11-25 17:43] rlwalls2008 opened #26 "NTR: collection of humans"
Def.: A collection of organisms of the same species that has as members only humans.
Equivalent to:
'collection of organisms of the same species'
and ('has member' only NCBITaxon_9606)

Will inherit other axioms from parent term.

[2015-11-25 18:10] rlwalls2008 opened #27 "update axioms of household"
Changed parent from 'material entity' to 'Homo sapiens' or 'collection of humans'.

[2015-11-25 18:12] ramonawalls commented on #27
@zhengj2007 Please let me know if this change will work for you. I'm trying to make it more specific.

At some point, we still need to add an axiom for living and sharing meals in the same residence.

[2015-11-25 18:16] zhengj2007 commented on #27
It works for me. Thanks!

[2015-11-25 18:23] ramonawalls commented on #25
@ pbuttigieg @mark-jensen  Please let me know what you think will work best with the design patterns developing in SDGIO. I couldn't actually find "agricultural househould" referenced in any of the SDGs or targets.

Proposed possible definitions:
1. A household in which the primary economic activity is agricultural.
2. A household in which the majority of the members are engaged in agricultural oc

[2015-11-25 18:33] ramonawalls commented on #27
Will also request a new ENVO term for human dwelling (subclass of building and parent class of human house).
EnvironmentOntology/envo#264

[2015-11-25 18:35] ramonawalls commented on #25
Added class http://purl.obolibrary.org/obo/PCO_0000028

[2015-11-25 18:51] rlwalls2008 opened #28 "file format for pco.owl"
@dosumis I notice pco.owl is now saved as OWL Functional Syntax. Sorry but I can't remember if we discussed doing this. If there is a good reason to leave it that way, I can learn to read it, but normally I would probably choose ttl. One nice thing I notices is that all the classes are listed in order in OFS. Challenge is finding the axioms that relate to a class.

[2015-11-25 18:57] zhengj2007 commented on #28
I think that is the format David prefer to use. He said it is easy to find out the difference between versions. Chris M. also recommended use this format since Github showed changes between versions including many unexpected stuffs when uses RDF/XML format. I am going to learn this format too.

[2015-11-27 15:29] pbuttigieg opened #29 "NTR: "plant community""
Greetings!

Would it be possible to create a subclass of ecological community labelled "plant community" and defined as:
"An ecological community composed of members of the kingdom Plantae"

This is quite general, but useful. It can also be used with more complex communities as follows:
"rainforest community" has_part "plant community"

This relates to work on ecoregions and the like over at the p

[2015-11-28 18:29] mark-jensen commented on #25
'agricultural household' appears in two indicators for Target 2.4

2.4.2: Percentage of agricultural households using irrigation systems compared to all agricultural households
2.4.3: Percentage of agricultural households using eco-friendly fertilizers compared to all agricultural households using fertilizers

Section IX from [this doc](http://www.fao.org/docrep/015/am085e/am085e.pdf) from FAO may

[2015-11-28 18:35] #19 closed

[2015-11-28 19:22] ramonawalls commented on #18
PURL redirects have been fixed at https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/pco.yml so that the old release purls now point to the proper places in the tags. For future releases, will figure out how to use tag.

[2015-11-28 19:22] #18 closed

[2015-12-01 16:42] rlwalls2008 opened #30 "add community as synonym of collection of organism"
This is needed for SDGIO work, requested by Barry:

The problem is that a standard definition of 'state' is as a political community. If we have a term community in PCO that will help me define state in SDGIO and ground 'ecological community' by providing a suitable parent.
I would happy to have 'community' be a synonym of 'collection of organisms'

[2015-12-01 16:47] rlwalls2008 opened #31 "change label of collection of organisms of the same species"
...to "single species collection of organisms", with original label as alternate label.

[2015-12-01 16:49] ramonawalls commented on #26
Add synonyms for human populations and human community. These could be more specific subclasses if required.

[2015-12-01 16:58] #26 closed

[2015-12-01 16:58] #30 closed

[2015-12-01 16:58] #31 closed

[2015-12-01 16:59] ramonawalls commented on #29
Sure. We can add that. I need to fix my NCBI import file anyway, so I can add Plantae then.

[2015-12-01 17:01] ramonawalls commented on #28
Okay. We will stick with OFS.

[2015-12-01 17:01] #28 closed

[2015-12-01 17:10] ramonawalls opened #32 "NTR: community and ecological community"
(requested by Barry via email)
def = a collection of organisms connected by social or biological relations

with a comment: these relations can include shared values, occupying the same spatial relation

We will need to add some kind of axioms for the social and biological relations. Probably can get the biological relation from RO.

This will be a subclass of collection of organisms.

[2015-12-01 17:15] ramonawalls commented on #32
Added term http://purl.obolibrary.org/obo/PCO_0000028, but needs some work.

[2015-12-02 15:42] ramonawalls commented on #32
@pbuttigieg - copying the email thread here.
rwalls@iplantcollaborative.org wrote:

Is there an GitHub issue we can work with to track this? Would be best.

[...]

As it should - the label is used very liberally and the definition can be
refined once we have some subclasses to work with. I recall that there was
quite a lot of debate over rights allocated to an 'indigenous community' vs
a 'communit

[2015-12-02 19:57] mark-jensen commented on #25
@rlwalls2008 I don't see where 'agricultural household' was added.

PCO_0000028 has the label: 'community'

[2015-12-02 20:50] ramonawalls commented on #25
Hmm. Looks like a Protege numbering problem. I may have overwritten
agricultural household when I added community. I will fix that and post
here when it is done.

[2015-12-13 18:09] pbuttigieg commented on #32
Thanks for transferring!

[2015-12-13 19:21] pbuttigieg opened #33 "NTR: Species Dispersal"
Picking up from https://github.com/EnvironmentOntology/envo/issues/270.
@thearyung
### Key processes
Proposed structure (all processual entities; I think it wise to keep "process" in the label to differentiate from the 'dispersal' in the sense of the distribution at time t):

Initial defs derived from [Wikipedia's descriptions](https://en.wikipedia.org/wiki/Biological_dispersal):

`organism disper

[2015-12-14 10:20] ramonawalls commented on #22
Need to define microorganism (syn: microbe or "microbial organism"), probably in CARO. See https://en.wikipedia.org/wiki/Microorganism:
"A microorganism... is a microscopic living organism, which may be single celled or multicellular... Microorganisms are very diverse and include all the bacteria and archaea and almost all the protozoa. They also include some fungi, algae, and certain animals, suc

[2015-12-14 10:26] pbuttigieg commented on #22
microscopic as a quality makes sense, but I wouldn't have microorganism in PATO. As a building block for a microbial population / community (which would have subclasses added by inference), I think it's more natural to have it in PCO.

As above, seems more natural to in PCO to me, rather than an anatomy ontology, or is CARO used for such things too?

[2015-12-14 19:58] ramonawalls commented on #22
I suggested CARO, because it has the parent term organism, virus or viroid. See obophenotype/caro#12. We'll see what @dosumis, @cmungall, and @mellybelly think. If it doesn't fit there, I will add it to PCO, but defining organism types would be a new area for PCO.

[2015-12-14 20:03] pbuttigieg commented on #22
Thanks! It sounds like these sorts of organisms groupings (by size, lifestyle, etc) are creeping into other domains. I would thus hesitate to distribute them even more in onto-space. Such groupings are hugely useful, however, and are frequently used for systematics. Would it be absurd to build a small ontology for these kinds of groupings? Other domain ontologies can then surrender those classes a

[2015-12-15 12:21] pbuttigieg commented on #33
An interesting reference [here](http://onlinelibrary.wiley.com/doi/10.1111/ecog.01994/abstract)

[2015-12-15 12:38] pbuttigieg commented on #23
Does density inhere in things like a population or a collection of molecules? Sounds a bit odd.

We could even think of it as an increased disposition of members of a collection (or object aggregate) to come into contact with one another? However, density can increase with no contact at all.

I think we need a spatial (or spatiotemporal) entity like a site here (to keep aligned to the general unde

[2015-12-15 12:43] pbuttigieg commented on #23
Regardless of the semantics, I think PCO is a good home for this class right now. Regarding usage, we have to make sure it works for different `human populations` as well as `ecological populations`

[2015-12-15 12:52] pbuttigieg commented on #23
Perhaps this is best as a relational "quality", using spatial relations between the entities in a collection of interest.  @cmungall and I are thinking about handling spatial relations a little better (or documenting how it can already be done)

[2015-12-15 16:48] ramonawalls commented on #23
I think it would be a relational quality, very similar to what we came up with for concentration. Effectively, population density is the "concentration" of organisms in a spatial area, so it is a relational quality between a collection of organisms and a spatial region (or maybe site).

[2015-12-15 16:56] pbuttigieg commented on #23
Yes, I agree. Could you paste an axiom example here?

[2015-12-15 17:09] zhengj2007 commented on #23
OBI worked out 'molecular concentration' with logical axiom as follow:
  'quality of related physical entities'
  ('inheres in' some material_entity) and (towards some 'scattered molecular aggregate')

If PCO would like to adopt it, the population density can be:
  'quality of related physical entities'
  ('inheres in' some organism) and (towards some population)

[2016-01-02 20:58] rlwalls2008 opened #34 "update imports"
IAO needs to be fixed to point to purl now.

Other import files need to point to github (here) instead of google code.

[2016-01-02 21:04] ramonawalls commented on #29
In terms of the equivalancy axioms, I think this should say has member min 2 NCBI:Plantae, has member only NCBI:Plantae. Is this what you intended, @pbuttigieg? It is fairly restrictive, but I think consistent with many plant data sets.

[2016-01-02 21:33] ramonawalls commented on #32
Updated ecological community (PCO:0000002) with logical axiom that says is must have member min 2 populuation of organisms.

[2016-01-03 21:58] pbuttigieg commented on #29
Yes, sounds right if you mean min 2 populations of organisms from Plantae. The restriction is intended and probably quite useful. Many thanks!

[2016-01-06 10:49] ramonawalls commented on #34
Still need to fix ontology IRIs and update some of the files (like NCBI taxon)

[2016-01-06 14:55] #34 closed

[2016-01-11 22:03] mark-jensen commented on #25
Any progress on drafting a definition?

If not, I'd suggest using a variation of # 1: "A household in which the majority of the income of its members is derived from agricultural activities."

This is the _narrow_ classification the above referenced doc refers to. The _broad_ classification is simply a household where any income is from agricultural sources. Although not prefect, it gives us somet

[2016-01-11 22:09] mark-jensen commented on #27
I notice that `household` is currently outside the BFO hierarchy. According to the axiom, shouldn't it appear under `material entity`?

[2016-01-11 23:13] ramonawalls commented on #27
Once the reasoner is run, it is classified as a material entity.

[2016-01-11 23:13] ramonawalls commented on #27
At least it should be :)

[2016-01-12 01:58] mark-jensen commented on #27
What is this magical-sounding thing you call a reasoner?

[2016-01-13 02:15] ramonawalls commented on #27
:) I'll send you some more information offline.

[2016-01-25 19:35] mark-jensen commented on #25
@rlwalls2008 Any chance to get a definition drafted soon? I could do a pull request using the above if that would help. SDGIO will need something in place quickly.

[2016-02-03 04:24] mark-jensen opened #35 "NTR 'rural population'"
There is a need for this in [SDGIO](https://github.com/SDG-InterfaceOntology/sdgio).

Proposed definition: A population that lives in a rural settlement or rural area.

I added it to SDGIO, but wonder if PCO is the better home?

Various uses of 'rural' now appear in ENVO. See https://github.com/EnvironmentOntology/envo/issues/272

And we will have an organizational class `rural` in SDGIO, which is

[2016-06-02 13:40] pbuttigieg opened #36 "Move to BFO 2.0?"
Hi!

We're trying to import PCO, but it still uses [old BFO classes](https://github.com/PopulationAndCommunityOntology/pco/blob/master/src/ontology/ontology-metadata.owl#L5).
Would this be updated soon? Would be good to avoid building code to merge this with other imports.

[2016-06-02 14:40] zhengj2007 commented on #36
@rlwalls2008, If you'd like, I can work on it this weekend. We have developed an online tool for the BFO conversion.
http://ontobull.hegroup.org/bfoconvert

[2016-06-02 19:22] ramonawalls commented on #36
Jie,

That would be really super! Yes, please! Are you zhengj2007?

Ramona

---

Ramona L. Walls, Ph.D.
Senior Scientific Analyst, CyVerse, University of Arizona
Research Associate, Bio5 Institute, University of Arizona

On Thu, Jun 2, 2016 at 7:40 AM, jie zheng notifications@github.com wrote:

[2016-06-02 19:56] zhengj2007 commented on #36
@rlwalls2008 Yes, my account is zhengj2007. I will work on the conversion this weekend and let you know when I am done.

[2016-06-02 20:13] ramonawalls commented on #36
Thank you! I just sent you an invitation to join the github organization.

Ramona

---

Ramona L. Walls, Ph.D.
Senior Scientific Analyst, CyVerse, University of Arizona
Research Associate, Bio5 Institute, University of Arizona

On Thu, Jun 2, 2016 at 12:56 PM, jie zheng notifications@github.com wrote:

[2016-06-02 20:16] zhengj2007 commented on #36
I have accepted the invitation.

[2016-06-05 18:58] ramonawalls opened #37 "NTRs: overcrowded"
Should overcrowded go in PATO?
From @cmungall, originally posted as BiodiversityOntologies/bco#71

We need a generic density in PATO (mass density is not appropriate here)

If OK, I can easily add

[code]

to PATO

unless you think it belongs here

[2016-06-06 04:52] zhengj2007 commented on #36
I checked the development version PCO. It has been updated to BFO 2. I think that I have updated the files when I added 'household' in PCO. However, no release of PCO is made after changes.

I found some minor issues and made following changes:
1). replace bfo import url:
    http://purl.obolibrary.org/obo/bfo.owl
     by version IRI
    http://purl.obolibrary.org/obo/bfo/2014-05-03/classes-only.o

[2016-06-06 07:16] pbuttigieg commented on #36
Thanks Jie!
On 6 Jun 2016 06:52, "jie zheng" notifications@github.com wrote:

[2016-06-08 04:18] zhengj2007 commented on #36
@pbuttigieg Welcome!

@rlwalls2008
PCO contains "taxonomic rank" and its subClasses which are not aligned with BFO. Do you want to keep them as they are now or move them under 'generically dependent continuant'? Would you like to review the PCO in bfo2 branch by this Friday? I am planning to merge the changes to the master branch and make a release file this weekend.

[2016-06-08 16:17] ramonawalls commented on #36
@zhengj2007 Thanks for all the work! Sorry I didn't see your message sooner. I will review before Friday. Before the release, I need to add a bunch of new terms that have been requested. Should I just add those in the bfo2 branch? I can get them in by Friday, so you can work on the release over the weekend. I'll have a look at taxonomic rank too.

[2016-06-08 16:26] zhengj2007 commented on #36
@rlwalls2008 I think it would be nice to include the new terms in the release. If you review the BFO2 version is good, I'd prefer to merge it to the master branch before you add the new terms. Could you please let me know when you finish the review? Then I will merge the files to the master branch. I will let you know when I am done with it and make the release after you add the new terms. How do

[2016-06-08 16:31] ramonawalls commented on #36
Perfect, @zhengj2007. I will try to review today and let you know when I am done.

[2016-06-08 16:32] zhengj2007 commented on #36
@rlwalls2008 Thanks!

[2016-06-10 23:25] ramonawalls commented on #36
@zhengj2007 Sorry tit took so long, but I just reviewed the branch, and it looks great. Please go ahead and merge. I will add new terms tomorrow and a few other things, so we can do a release. If you don't have time to do the merge before tomorrow, I can work on another branch.

[2016-06-11 00:31] ramonawalls commented on #36
On further thought, @zhengj2007 ,  why don't I just merge the branch? As the repo owner, I should be able to do that. I'll let you know when it ready for the release.

[2016-06-11 00:35] #36 closed

[2016-06-11 18:43] ramonawalls commented on #20
Move pco:population quality and pco:ecological community quality to be subclasses of pato:population quality, rather than defining pato:population quality as equivalent to the union of those two classes (as suggested above), because I'm concerned about the implications of specifying logical definitions for PATO classes. Also renamed pco classes as "quality of a*" so they wouldn't conflict with the

[2016-06-11 18:43] #20 closed

[2016-06-11 19:24] ramonawalls commented on #25
@mark-jensen I used the definition you suggested. We don't have the terms to make a logical definition for this class at this point, but at least it has a text definition.

[2016-06-11 19:24] #25 closed

[2016-06-11 19:52] ramonawalls commented on #27
I have imported the ENVO term for human dwelling, but we still need a way to specify that the people who are part of the household live and share meals in the same human dwelling.

[2016-06-11 22:01] ramonawalls commented on #32
I'm reading over this again, and I'm concerned that what is proposed for "community" (A collection of organisms connected by social or biological relations.) is not disjoint from "ecological community" (A collection of organisms of at least two different species, living in a particular area. Must have at least two populations or organisms as members.). Non-disjointedness is okay, but I don't want

[2016-06-11 22:09] ramonawalls commented on #32
I propose the following hierarchies:

1) Any collections of organisms
collection of organisms

2) Collections of interacting organisms
community (=collection of organisms that are interacting)

The first hierarchy is mostly a convenience, and something we already have.
The second hierarchy is what is generally of interest to scientists. We should be able to use RO:biotically interacts with to defi

[2016-06-11 22:12] ramonawalls commented on #32
@cmungall, @pbuttigieg Can I use RO:colocalizes with to talk about organisms that live in the same place? Seems generally correct. Should we make a subpropety called "cohabitates"?

[2016-06-11 23:06] cmungall commented on #32
The intent is that localizes is a bit more specific and to do with
active localization.

I think cohabitates is a good relation to add - but not as a
subproperty. We could later add a grouping relation, something like
co-located-with, if useful.

Do you want an RO ID range? If we sync on Protege 5 then we should be
safe for making pull requests (or I can just add it...)

On 11 Jun 2016, at 15:12,

[2016-06-12 11:56] pbuttigieg commented on #32
This may be a bit strong - the organisms may not have overlapping habitats, that would probably be a specification of co-located-with.

I think we should sync.

[2016-06-12 19:27] rlwalls2008 opened #38 "NTR: organismal entity"
We need a class that is the union of CARO:organism, virus, or viroid and PCO:collection of organisms. This will also satisfy BiodiversityOntologies/bco#21.

[2016-06-12 20:07] ramonawalls commented on #38
Closed with commit  ef39c02

[2016-06-12 20:07] #38 closed

[2016-06-13 17:37] ramonawalls commented on #32
I have requested a relation for cohabitates with  at oborel/obo-relations#111, but I agree with Pier that cohabitates with is wrong for defining communities. For those, I would prefer to use RO:biotically interacts with, which is just as strong, but has a different meaning.

[2016-07-03 04:05] ramonawalls commented on #32
I was able to define an ecological community as a community that occupies a site, but have to add the new occupies relation to RO.

Until we have  a way to specify that all members of a community participate in the same biotic interaction process, community will be equivalent to collection of organisms. I'll work on that next.

[2016-07-03 04:12] ramonawalls commented on #29
I was being a bit lazy before in using the term Plantae, which doesn't actually correspond to a clade.

We can define a plant kingdom based on one of the following:

Viridiplantae - green plants, includes green algae and land plants
Streptophyta - land plants plus charophytes (I don't recommend this one)
Embriophyta - land plants

I think the last one is what most people think of as a plant commun

[2016-07-03 04:18] ramonawalls commented on #29
Added class http://purl.obolibrary.org/obo/pco.owl/PCO_0000204, with definition:

'ecological community'
 and ('has member' only Embryophyta)

[2016-07-03 04:21] #29 closed

[2016-07-03 04:22] ramonawalls commented on #27
I was able to define this using the new relation occupies.

'organismal entity'
and ('has member' only 'Homo sapiens') and ('has member' min 1 'Homo sapiens')
and occupies some (site and 'located in' some 'human dwelling')

[2016-07-03 04:22] #27 closed

[2016-07-03 04:23] ramonawalls commented on #7
These relations have been added to RO.

[2016-07-03 04:23] #7 closed

[2016-08-02 00:44] ramonawalls commented on #32
Note I used "located in" for now, rather than create "occupies" at this time.

[2016-12-10 02:17] ramonawalls opened #41 "wrong version of PCO on ontofox"
Need to check if it is the PURL.

[2016-12-14 04:32] ramonawalls commented on #41
Not the PURL. Filed a ticket with Ontofox.

[2016-12-14 04:32] #41 closed

[2016-12-14 04:34] ramonawalls opened #42 "organismal entity has the wrong URL form"
Is of the form http://purl.obolibrary.org/obo/pco.owl/PCO_0000030. Need to obsolete and replace it.

[2016-12-14 05:01] ramonawalls commented on #42
fixed with commit  be31d06

[2016-12-14 05:01] #42 closed

[2017-01-04 17:24] cmungall opened #43 "Release OWL file should be an RDF dialect"
http://purl.obolibrary.org/obo/pco.owl resolves to manchester.

This is fine by our current guidelines:

http://obofoundry.org/principles/fp-002-format.html

However, I think it's good sensible practice to never use a format that can't be parsed outside the OWLAPI.

See https://github.com/monarch-initiative/dipper/issues/401

In general I also recommend a more standard ROBOT-esque release file

[2017-01-04 17:38] cmungall commented on #43
turns out you are turtle, oops, ignore

[2017-01-04 17:38] #43 closed

[2017-01-04 17:38] alanruttenberg commented on #43
Concur on RDf/XML as that is the normative syntax according to the OWL specification.

Re robotesque, I don't know how one would accomplish that without actually running robot, which I don't think we should insist on. Instead document what minimal requirements for a release should be. Perhaps robot can be used to check those as part of the qc pipeline.

[2017-01-04 17:42] cmungall commented on #43
Good suggestions.

[2017-03-23 15:31] pbuttigieg commented on #12
Re-invigorating this and crosslinking to
https://github.com/EnvironmentOntology/envo/issues/470

PCO will provide the (collection of) organism(s) and ENVO the environments and space through which they move.

[2017-03-28 19:24] Public-Health-Bioinformatics commented on #23
A few questions, since I'm keenly interested in this with respect to epidemiology.

1) I'm curious what is this "towards" relation?  I couldn't find it in OBI release.  Is it like "with respect to"?

2) @pbuttigieg @cmungall I'd like to know more about your spatial domains vision. (My bias is that space and time concepts could be organized within the paradigm of dimensional analysis.  Seems like t

[2017-03-28 20:39] jhammock opened #45 "admin issue: biosharing.org"
I don't remember what connection might have gotten me listed as a contact, but this data standards aggregator just alerted me that their record for the PCO is "unclaimed". Would someone like to claim it?

https://biosharing.org/bsg-s002830

[2017-03-28 20:43] pbuttigieg commented on #45
I think it was sent out to the PCO mailing list.

@Ramona : would you claim it?

On 28 Mar 2017 22:39, "Jen Hammock" <notifications@github.com> wrote:

[2017-03-29 03:54] dosumis commented on #23
If you have a figure for density, why not use a data property?   has_density (or has_population_density ?)

Or if you don't have exact figures but want to make a comparative statement about population density, just use an objectProperty.  ('towards' has always seemed like a hack to me, introduced to find a way to deal with PATO classes that are implicitly comparative and probably should have been

[2017-03-29 17:00] Public-Health-Bioinformatics commented on #23
I get that a data property is the quickest OWL way to associate a value of a certain type with an entity; and an object property is the quickest way to make known some association between two concepts.  My own bias (which I know doesn't fit many pragmatic efforts because it involves complexity that is avoided by the property approach) is that the more we define the structure of a concept (like the

[2017-03-29 17:12] Public-Health-Bioinformatics commented on #23
p.s. Now I see the definition of "towards" in PTO object property list. "Relation binding a relational quality or disposition to the relevant type of entity." So it seeks to constrain what entity a quality pertains to.  I guess above 'has numerator' and 'has denominator' have the same mission.

[2017-03-29 17:42] dosumis commented on #23
The problem with this: "Relation binding a relational quality or disposition to the relevant type of entity"  is that, AFAIK, nothing in the formal semantics of OWL-DL is available to enforce this binding.  This => potentially serious co-reference issues.

[2017-03-30 08:52] cmungall commented on #23
On 28 Mar 2017, at 20:54, David Osumi-Sutherland wrote:

Unfortunately this wouldn't work for any scenario where we want to say
e.g. the change is due to a mutation in a gene (we could reify, but this
is invisible to OWL)

RQs with towards were attempts at OWL-visible reification (with
'towards' being a syntactic predicate, like rdf:object in a
reification). I agree it hasn't worked out so well. T

[2017-03-30 17:50] Public-Health-Bioinformatics opened #46 "Term request: social gathering"
This term is motivated by epidemiological investigation of outbreaks.  (A pathogen can be transmitted at a social gathering directly or through food served at the event.) It currently sits in GenEpiO but it is time to move it to PCO!

Term: social gathering
Definition: A social gathering is a type of event in which a collection of humans intentionally gathers together on a temporary basis to engag

[2017-03-30 17:58] Public-Health-Bioinformatics commented on #46
I should note that we have a few types of social gathering in GenEpiO that PCO may want to claim?

<img width="282" alt="screen shot 2017-03-30 at 10 55 55 am" src="https://cloud.githubusercontent.com/assets/10779910/24518720/ba6ab9dc-1537-11e7-815c-b0fab71fd66a.png">

[2017-03-31 18:12] Public-Health-Bioinformatics commented on #46
heh - that should be "baby shower", not just "shower"!

[2017-04-01 15:35] Public-Health-Bioinformatics commented on #23
Is this a case where the most succinct definition of a concept involves a structure of relations that OWL can't validate.  One would have to resort to external tools to do that validation until the day when "OWL 3.0" can catch up.  Or is there not enough agreement on the best way to define ratios in the meantime?

Population density has a flipped sibling - ecological or urban footprint, the ratio

[2017-06-28 09:45] pbuttigieg opened #48 "NTR: [Kingdom] community"
Similar to, but probably simpler than, #22 :

It would be good to have some high-level, taxonomically resolved communities to help distinguish flora, fauna, bacteria, archaea, etc.

For example:

'plant community'  =def. "An ecological community which is composed of organisms in the Kingdom Plantae."

The axioms could be brought in from NCBITaxon.
We'd use this to axiomatise ENVO terms like `veget

[2017-06-28 09:48] pbuttigieg commented on #48
One issue is what rendition of Kingdom (or similar high rank) to use. Perhaps the 7 Kingdom model from Ruggiero et al.
2015 displayed [here](https://en.wikipedia.org/wiki/Kingdom_(biology)#Summary)?

This is not the same as the NCBI Taxonomy. If we go with NCBI for consistency, we should note that this is not an authoritative taxonomy.

[2017-08-06 19:42] ramonawalls opened #49 "New terms for origin and establishment status"
Transferred here from BiodiversityOntologies/bco#30, from @qgroom:

On specimens and in Floras one often comes across comments such as 'introduced', 'casual', 'native', 'planted', 'escaped', which give information about the origin of the organism at the site. These terms are also related to how well established the organism is at the site, but there are additional terms such as 'persisting', 'spre

[2017-08-16 19:50] pbuttigieg opened #52 "Transfer "carrying capacity" to ecoCore"
The current def for [`carrying capacity`](http://purl.obolibrary.org/obo/PCO_0000009) suggests that its is a quality of a population, which doesn't sound right. Usually, this is seen as a quality/disposition of an ecosystem to reach its systemic thresholds when supporting the life of a single-species population.

@ramonawalls shall we transfer to [ecoCore ](https://github.com/EcologicalSemantics/e

[2017-08-16 19:54] pbuttigieg opened #53 "Clarify def for population process"
The class [`population process` ](http://purl.obolibrary.org/obo/PCO_0000005) has the textual def:
[code]

For ecoCore purposes, we'd need to specific about reference to an `ecological population` or `single-species population`, could this be clarified in the def and perhaps with an axiom like:
[code]
?

[2017-08-16 20:46] pbuttigieg opened #55 "NTR: competitive exclusion"
For new term requests, please provide the following information:

## Preferred term label

competitive exclusion between populations

## Synonyms

hasBroadSynonym: 'Gause's law'

## Textual definition

A community process during which populations of at least two species compete for the same limiting resources, resulting in only one being able to maintain stable size.

## Suggested parent term

We

[2017-08-17 16:47] #52 closed

[2017-08-17 16:56] ramonawalls commented on #46
I will make a taxon-neutral parent class for this called "social aggregation" and name the class described above "human social gathering". I think it makes sense to include the current GenEpiO subclasses of social gathering in PCO. I'll move them over here  then let the GenEpiO curators know when they are released.

[2017-08-17 17:35] Public-Health-Bioinformatics commented on #46
sounds great!

[2017-08-18 23:23] ramonawalls commented on #46
I now realize that these are activities, not groups of organisms. I would like to use labels like "social aggregation activity" and "human social gathering activity", to make it clearer. @Public-Health-Bioinformatics, please let me know if you also see any need for classes that define the group of people taking part in these activities.

[2017-08-18 23:28] ramonawalls commented on #46
We can import  social behavior (http://purl.obolibrary.org/obo/GO_0035176) as the parent term. The GO terms should have PCO_collection of organisms of the same species as a participant. I can request that from GO.

[2017-08-18 23:46] Public-Health-Bioinformatics commented on #46
Activity is quite appropriate!  Thanks.

[2017-08-19 00:10] Public-Health-Bioinformatics commented on #46
Our use of the terms is for describing the context of an epidemiology investigation.  We don't really need any further logic / classes describing what kind of people are involved in the activity, as long as the activities have their classes.

[2017-09-08 22:55] mbrush commented on #3
Hello @ramonawalls, all.  I am working with the ClinGen DMWG to build a model supporting clinical variant interpretations, and we are looking to re-use as possible from existing ontologies.  We need the concept of a biological / genealogical family for the purpose of describing pedigree analyses.  I think the proposed definition above would work for our needs.

Is there a plan to implement such a

[2017-09-11 05:03] ramonawalls commented on #3
@mbrush We have not instituted any policies to restrict groups of organisms to a "biological" definition.

We could add the term you are requesting fairly quickly if that will help. Please make a new issue for it, and we can discuss the definition there.

[2017-09-20 16:30] pbuttigieg opened #56 "NTRs: Biodiversity's many flavours"
@ramonawalls I'll be attending to these in a PR, the fork is [here](https://github.com/EnvironmentOntology/pco)

Following from https://github.com/EnvironmentOntology/envo/issues/567 and linked to https://github.com/PopulationAndCommunityOntology/pco/issues/15, we should add some forms of biodiversity as population qualities.

Note that the CBD and other sources associate biodiversity with entitie

[2017-09-25 15:53] mbrush opened #57 "Add 'biological family' as subtype of 'family'"
I am working with the [ClinGen DMWG](http://datamodel.clinicalgenome.org/interpretation/) to build a model supporting clinical variant interpretations, and we are looking to re-use as possible from existing ontologies. We need the concept of a biological/genealogical family for the purpose of describing pedigree analyses.  It seems that the PCO community has previously considered adding such a ter

[2017-10-09 14:50] kaiiam opened #58 "Cede ENVO:alga to PCO"
ENVO: [alga](http://purl.obolibrary.org/obo/ENVO_02500019) should be ceded to PCO.

I intend to take care of this with the help of @pbuttigieg in the next several weeks, as part a pull request I wish to make to PCO, in which I would like to add a variety of classes concerning plankton communities and population growth processes.

Cheers,
Kai

[2017-10-09 16:41] pbuttigieg opened #59 "Autophagus ENVO-PCO-ENVO state?"
@ramonawalls (@cmungall)

It seems that there are a number of assertion in PCO around astronomical body, astronomical object, and a few other classes.

This is causing AP duplication in ENVO.
Why would there be assertions in PCO rather than clean imports? Or is this an ENVO artifact? Perhaps our makefile needs to be updated to reflect PCO's new, OSK-compliant structure (sans bridge file)?

![image

[2017-10-09 18:17] ramonawalls commented on #59
@pbuttigieg I certainly don't remember making any assertions in PCO about astronomical objects!

These classes are imported into PCO as part of the ENVO import. Then, when PCO is released, all of the import files are merged. I suspect that is what makes it look like the assertions are coming from PCO. I think this is standard practice, and I do like having the imports merged so people can work wit

[2017-10-09 22:07] mbrush commented on #57
Hi @ramonawalls. Any thoughts on this request, or clarifications I can make! Thanks!

[2017-10-10 20:16] ramonawalls commented on #57
@mbrush  Sorry I didn't notice this when it came it! I see no problems with the term you suggest, other than it will be challenging to define it logically. I can add it to PCO with a text definition as a start. I will try to do a release before next Monday so you can have the term.

[2017-10-17 15:10] pbuttigieg opened #60 "Add links to PCO publications in README.Md"
Just to guide citations and readership.

[2017-11-02 13:29] kaiiam opened #61 "Permission for PCO pull request"
Hello @ramonawalls.  As part of the work of my masters thesis supervised by @pbuttigieg I have prepared a considerable amount of material for a potential Pull request for PCO, and I am wondering if I could get thoughts on such material. A sample of some of the types of classes I wish to propose are fit into the hierarchy as follows. Defined example classes are shown with an Asterisk*.

Please let

[2017-11-02 13:34] kaiiam commented on #58
Issue to be part of pull request pending permission [in issue 61](https://github.com/PopulationAndCommunityOntology/pco/issues/61)

[2017-11-03 02:12] ramonawalls commented on #57
New term created, http://purl.obolibrary.org/obo/PCO_0000032.

Still have to do release.

[2017-11-03 02:58] ramonawalls commented on #61
@kaiiam I am very happy to have you issue this pull request for PCO. At first glance, I don't see any problems with the design patterns. I will need to review everything carefully once you issue the request.

My only question at this point is about the relation 'composed primarily of'. Is that from RO? I am not familiar with it.

[2017-11-03 09:41] kaiiam commented on #61
@ramonawalls Thanks for the quick reply, and for the feedback. I'm glad to hear you like the design patterns I'm proposing. The relation  'composed primarily of' is from RO [purl here](http://purl.obolibrary.org/obo/RO_0002473)

 @pbuttigieg and I will submit the pull request this weekend, with contributions from both of us.

[2017-11-06 12:01] kaiiam opened #62 "PCO:carrying capacity to cede to ECOCORE"
Hello @ramonawalls . I would like to at some point, cede the PCO:[carrying capacity](http://purl.obolibrary.org/obo/PCO_0000009) to [ECOCORE](https://github.com/EcologicalSemantics/ecocore) the ontology of core ecological entities recently created with @pbuttigieg as collaborator.

I believe it should be housed in ECOCORE as carrying capacity is a quality of an ecosystem rather than of a populatio

[2017-11-06 20:31] ramonawalls commented on #57
Release was just pushed, this term is now available for use.

[2017-11-06 20:31] #57 closed

[2017-11-06 20:34] ramonawalls commented on #46
@Public-Health-Bioinformatics  These terms are now available in PCO as http://purl.obolibrary.org/obo/PCO_0000033 and its children. However, I could use some help with the text definitions. I added what I assumed you meant by each class, but please review and make sure they are correct, especially for 'human community event'.

[2017-11-07 15:52] ramonawalls commented on #62
@kaiiam I agree that carrying capacity is not a quality of a population, but rather of an ecosystem, and that ecocore is a better home. However, I am reluctant to add quality of an ecosystem to PCO, as it will just be deprecated and moved to ecocore. Also, a substantive change to carrying capacity (i.e. changing its parent term) requires that it be deprecated and replaced by a new term.  I think a

[2017-11-20 17:58] Public-Health-Bioinformatics commented on #46
I like your definitions!  Couldn't do better myself.

For potluck, I'd lean on the wikipedia definition: https://en.wikipedia.org/wiki/Potluck
A potluck is a gathering where each guest [usually] contributes a different and unique dish of food, often homemade, to be shared.

I'll make the replaced by annotations in GenEpiO today.

I take it activities like "hiking" and "camping" aren't necessarily

[2017-12-20 18:13] zhengj2007 opened #63 "NTR: colony"
For EuPathDB phenotype annotation, we need term 'colony'. I think it may in the scope of PCO.

Here are related information:

## Preferred term label
microorganism colony

## Synonyms
colony

## Textual definition
A population of organisms that is a visible mass of microorganisms, all originating from a single mother microorganism cell. Therefore a colony constitutes a population of microorganisms

[2018-01-02 17:04] zhengj2007 commented on #63
Found the term in IDO.

Withdraw request

[2018-01-02 17:04] #63 closed

[2018-02-09 15:07] RLWOHIO opened #64 "pco in obo format"
Hi,

Could you also make pco available in obo format?  I am unable to convert pco.owl in Protege or by 'robot'.  Thanks.

[2018-05-09 08:37] pbuttigieg opened #66 "NTR: tidal mangrove shrubland community"
## Preferred term label

tidal mangrove shrubland community

## Synonyms
related: mangrove community
related: tidal shrubland community

## Textual definition

An ecological community which is composed primarily of  dwarf or short mangroves, often populations of Laguncularia racemosa, Avicennia germinans, Sarcocornia pacifica, or Batis maritima.

## Suggested parent term

For now, just under ecolo

[2018-11-01 15:03] richardostler opened #67 "Appropriate place for describing population sample methods and measures?"
I'm after some guidance on describing sampling methods for surveying and estimating earthworm populations, but am not sure if this is the right ontology and if it is where, in the ontology to suggest placing. The methods are fairly specific to earthworms, but my issues with population estimates are more general.

I have three methods to describe:

1. formalin expulsion: pouring a diluted formalin

[2019-01-09 08:04] pbuttigieg opened #68 "Decline of (insect) population"
Hi @ramonawalls,

I'd like to add the following term cluster (can do in a PR)

## Preferred term label

1. population decline
2. decline of insect populations

## Synonyms

1. reduction of population size, decrease of population size, population reduction, population decrease
2. As above, just with "insect" in the mix

## Textual definition

1. A population process during which the number of indiv

[2019-01-17 21:18] ramonawalls commented on #68
@pbuttigieg Please go ahead and make a pull request. I will merge and make a new release.

Since 1 is (I think) intended to apply specifically to a 'population of organisms' you should probably either reference that term specifically in the definition, or consider adding a logical axiom such as 'has participant' some 'population of organisms'.

Should we make a class for 'population of insects' to

[2019-01-17 21:23] ramonawalls commented on #67
@richardostler I'm sorry I did not see this sooner.

PCO does not currently cover any assays of the type you have defined. I would suggest putting those in either OBI (more general, https://github.com/obi-ontology/obi) or BCO (specific to biodiversity studies, https://github.com/BiodiversityOntologies/bco).   I can help with writing logical definitions for the terms if needed, regardless of which

[2019-01-17 21:24] ramonawalls commented on #66
Wow, I completely missed this. My apologies. Please go ahead and make a PR for this term and I will add it. Perhaps you have already moved on.

[2019-01-17 21:25] ramonawalls commented on #64
I'm sorry that I just saw this request. Do you still need it? I can look into how difficult it will be to accurately translate PCO to OBO format.

[2019-01-17 21:26] ramonawalls commented on #62
@kaiiam Just wondering if anything ever happened with this? Should the issue remain open?

[2019-01-17 21:30] ramonawalls commented on #22
This was fixed with pull#47

[2019-01-17 21:30] #22 closed

[2019-01-18 22:00] diatomsRcool opened #69 "NTR: gender arrangements"
For new term requests, please provide the following information:
See also https://github.com/EcologicalSemantics/ecocore/issues/36

## Preferred term label
diandrous
monandrous

## Synonyms

## Textual definition

(I'm unsure of these definitions)

Protogynous species with both juvenile females and (primary) males, where a certain percentage of females changes into (terminal) males are termed dian

[2019-01-23 14:17] RLWOHIO commented on #64
Hi Ramona,

Thanks for getting back to me.  I think it will still be useful to many
that PCO be made available in both OWL and OBO format.

Regards,
Ronglin

On Thu, Jan 17, 2019 at 4:25 PM Ramona Walls <notifications@github.com>
wrote:

--
Rong-Lin Wang

[2019-01-29 18:12] ramonawalls commented on #64
Great. I will try to make an OBO version ASAP.

Ramona
------------------------------------------------------
Ramona L. Walls, Ph.D.
Senior Scientific Analyst, CyVerse, University of Arizona
Research Associate, Bio5 Institute, University of Arizona

On Wed, Jan 23, 2019 at 7:17 AM RLWOHIO <notifications@github.com> wrote:

[2019-02-02 10:39] richardostler commented on #67
@ramonawalls no worries and thanks. I wasn't aware of BCO so will check it out. I'll add an issue to ECOCORE for biomass and abundance.

[2019-02-02 10:39] #67 closed

[2019-02-20 00:53] cmungall commented on #68
I can see us getting into confusing situations about what is in ENVO vs PCO. Should deforestation or algal bloom be moved to PCO?

[2019-02-20 00:55] cmungall opened #70 "Add microbiome as synonym of microbial community"
Carried from https://github.com/obi-ontology/obi/issues/990

Prev ticket #22

Add microbiome as synonym of microbial community

I would argue for exact synonym: but there is an argument that microbiome can mean any arbitrary sample of microbes regardless of their structure or interactions. I think it's better to use the term more strictly

In fact I might argue for microbiome be the primary label

[2019-02-20 00:57] cmungall opened #71 "Interaction between species"
From https://github.com/obi-ontology/obi/issues/990

We need to sort out modularity between ecocore, PCO, RO, OHMI and GO here

Note that the GO classes don't refer to the interaction process, they refer to the biological process from the view of the organism

RO represents relations not classes

I think it makes most sense for the base class to be in PCO and naming of subclasses can be in OHMI

[2019-02-20 02:59] ramonawalls commented on #68
@cmungall, I think a good solution is to have the processes live in Ecocore, the collections of organisms live in PCO, and the ecosystems and environmental features and materials live in ENVO. Does that make sense to you, @diatomsRcool and @pbuttigieg? If you all think a call to resolve this would be useful, let me know, and I will organize.

[2019-02-20 14:41] diatomsRcool commented on #68
Sounds good to me. We need to commit this to paper.

[2019-04-24 03:17] ramonawalls commented on #71
It was the original intention to have these classes in PCO, but then we thought they belonged in GO. Thank you for clarifying about GO biological processes. OHMI is fine for microbial/host interactions, but of course there are lots of non-microbial interactions. Perhaps those subclasses fit well in EcoCore instead of PCO.

Is the base class general enough to move into OBO Core?

[2019-04-24 03:20] ramonawalls commented on #70
I think of microbiome as a microbial community that lives in another organism, but I am not the expert on this. I'll try to get input from those that are.

Would also be good to add microbiota as a label.

[2019-04-24 03:24] ramonawalls commented on #69
I think it might be better to have these terms in PATO directly.

[2019-04-24 03:25] #61 closed

[2019-04-24 04:22] kaiiam commented on #61
I still have all these terms floating around if you think they'd benefit PCO.

[2019-06-07 19:12] pbuttigieg commented on #70
I'd be cautious here. A related synonym would be good as there's all sorts of fuzziness here.

Many understand a microbiome as "just" a collection of organisms, but others are more rigorous in their ecology and understand it as a biome determined by a microbial community. If you injected a mock community into someone's gut that was mostly made up of ocean microbes, very few would seriously call it

[2019-06-10 18:59] ddooley commented on #3
I get the priority in terms of genomics for providing biological family entities.  I am wondering if you want to take on the other types of familial relationship for OBOFoundry?  Even from a biomedical perspective these are important in terms of epidemiology/infectious disease.  Here are a few diagrams I cooked up recently on the subject fyi. I was trying not to be human specific unless necessary

[2019-06-22 16:31] Mttbnchtt opened #72 "Community"
The definition of _community_ in PCO is "A collection of organisms of the same species whose members are all either genealogically related to each other or have mated with each other."

There are three issues:
1. This makes it wrong to have _ecological community_ as a subclass (as it is the case now), because "ecological community" is defined as a community having populations of _different_ specie

[2019-06-28 19:44] yongqunh commented on #72
We also found the same issue in our OHMI (ontology of host-microbiome interactions). The 'microbial community' (http://purl.obolibrary.org/obo/PCO_1000004) definition:
An ecological community which is composed of co-existing populations of microbial organisms that interact, directly or indirectly, such that they impact one another's ecological fitness.

The 'microbial community' appears to refer t

[2019-07-12 16:14] pbuttigieg commented on #72
Yes, this needs revision.

Ecological community (of which microbial communities are a subclass) necessarily have more than one ecological population in them.

@yongqunh good point. Microbiota can be a broad synonym of microbial community, but should probably be a subclass of collection of organisms with an axiom like `'has part' min 1 'microbial population'` where microbial population is under eco

[2019-07-28 22:42] ramonawalls commented on #72
This is clearly a mistake and makes no sense. I will have to go back and look at the history to figure out how it arose so that it can be fixed.

[2019-07-28 22:45] yongqunh commented on #72
Hi Ramona,

Will you attend the ICBO-2019?
Happy to chat with you there if you go.

Thanks,
Oliver

From: Ramona Walls <notifications@github.com>
Sent: Sunday, July 28, 2019 6:43 PM
To: PopulationAndCommunityOntology/pco <pco@noreply.github.com>
Cc: He, Oliver <yongqunh@med.umich.edu>; Mention <mention@noreply.github.com>
Subject: Re: [PopulationAndCommunityOntology/pco] Community (#72)

This is c

[2019-07-28 23:31] ramonawalls commented on #72
I am around tomorrow and Tuesday. Looking forward to lots of in person conversations!

Enviado de Baja Arizona

[2019-07-29 13:39] ramonawalls commented on #69
Although I think these terms are out of scope for PCO, we need to figure out the PCO term in which they should inhere.  I'm not sure if any of the existing terms (below) are quite right.

**population of organisms:** A collection of organisms, all of the same species, that live in the same place.

**species as a collection of organism:** A collection of organisms that has as parts every organism o

[2019-07-29 18:08] diatomsRcool commented on #55
Any thoughts?

[2019-07-30 14:13] ramonawalls commented on #70
As per EnvironmentOntology/envo#807 comment 514640565:

1. need to add microbiome as related synonym to microbial community
2. Discuss moving [microbiota](http://www.ontobee.org/ontology/OHMI?iri=http://purl.obolibrary.org/obo/OHMI_0000463) into PCO, perhaps as an exact synonym for microbial community. Will discuss this with @zhengj2007 and @yongqunh.

[2019-07-30 14:55] ramonawalls commented on #55
I'm happy to add this to PCO, but before I do, we need to decide if `ecological community process`  (and likewise `population process` are better maintained under PCO or ECOCORE.

Regarding the definition, I think we first need to define competition as a population level process. The GO term for `competition with other organism` is a subclass of `interspecies interaction between organisms`, which

[2019-07-30 19:07] diatomsRcool commented on #55
1. I am good with community process and population process being in PCO

2. Can't competition happen between individuals of the same species as well as populations of different species? We should allow for representing both.

[2019-07-30 22:58] ramonawalls opened #73 "Add new terms an hierarchy for microbiota"
See also #70, EnvironmentOntology/envo#807, and OHMI-ontology/OHMI#2.

Following an in person discussion with @zhengj2007 and @yongqunh, we decided to keep the current term for [microbial community](http://purl.obolibrary.org/obo/PCO_1000004), but to add some other microbioata classes for other use cases, in the hierarchy below:

- collection of organisms
-- collection of microbial organisms
--- m

[2019-07-30 23:31] ramonawalls opened #74 "NTR: microbe"
This term is being moved to PCO from OHMI

## Preferred term label

microbe

## Synonyms

microbial organism

## Textual definition

An organism or virus or viroid that is too small to be viewed by the unaided eye.

## Logical definition

'organism or virus or viroid'
 and ('has quality' some 'invisible to unaided eye')

## Suggested parent term

organism or virus or viroid (will soon be replaced

[2019-07-30 23:32] ramonawalls commented on #74
Will need to add new quality `invisible to the naked eye`, which should eventually go into PATO.
def: A physical object quality that is inhered in a material entity that is too small to be viewed by the unaided eye.

[2019-07-30 23:33] ramonawalls commented on #74
Needed to define microbial collections of organisms, per issue #73.

[2019-07-30 23:45] ramonawalls commented on #74
@pbuttigieg Please let us know if you want any changes to this one or #73. We should include you as a contributor as well.

[2019-07-31 11:00] ramonawalls commented on #55
1.  Okay

2. Yes, we should. Just need to be clear about the distinctions when it is important.

Enviado de Buffalo

[2019-07-31 13:14] zhengj2007 commented on #74
@ramonawalls my ORCID is 0000-0002-2999-0103. Thanks!

[2019-07-31 13:36] ramonawalls commented on #74
@cmungall, in EnvironmentOntology/envo#781 you suggested including non-monophyletic groups in NCBITaxon. Would that be the appropriate home for this microbe class?

[2019-07-31 13:49] ramonawalls opened #75 "Update definition of household"
Now that household is a subclass, its text definition should be updated to say "An organismal entity that consists of one or more people who live in the same dwelling and also share at meals or living accommodation, and may consist of a single family or some other grouping of people."

It would be good to add an axiom about living in a dwelling. @cmungall, are there any appropriate RO relations fo

[2019-07-31 21:00] cmungall commented on #75
one might be tempted to use has-habitat by the name, but this wouldn't be
quite right, but it could be a relation in the same family

On Wed, Jul 31, 2019 at 9:49 AM Ramona Walls <notifications@github.com>
wrote:

[2019-07-31 21:03] cmungall commented on #74
Different namespace, but it could be built as part of the obo ncbitaxon releases, and released as an optional extension

but I think this should be reserved for things that can be logically defined using or/and/not with existing taxo... this one feels odd let's discuss later

[2019-08-26 19:40] ramonawalls commented on #75
The challenge here is that it is difficult to 'lives in'. For now, I am going to use the general relation `ecologically related to`.

[2019-08-26 19:44] #75 closed

[2019-08-26 23:33] ramonawalls commented on #59
I have added "is defined by" axioms to imported terms in PCO, but I don't know if it will solve this problem. Not sure what else I can do. I'm going to close this as "won't fix" but please re-open if there is something I can do to fix the problem.

[2019-08-27 04:26] ramonawalls commented on #32
Given that we don't have a convenient way to describe interactions yet, and we don't have an actual use case for the term community, I am going to deprecate community and just keep ecological community.

[2019-08-27 04:29] ramonawalls commented on #72
See #32.  I am going to get rid of community, and make ecological community a direct subclass of multi-species collection of organisms.

@Mttbnchtt please advise if you need a term for community that does not fall within ecological community.

[2019-08-27 04:52] ramonawalls commented on #32
See BiodiversityOntologies/bco#86 for explanation of why "located in some site" is wrong for the definition of ecological community. I am going to remove that axiom. The logical definition will be underspecified, just as for population of organisms.

[2019-08-27 05:43] #72 closed

[2019-08-27 06:18] cmungall commented on #32
Pedantically speaking, a logical definition is either fully specified or it is wrong. If you can't state N+S conditions accurately better to just state N conditions.

Also, a logical def that deviates from the text def is often a bad smell; see https://douroucouli.wordpress.com/2019/07/08/ontotip-write-simple-concise-clear-operational-textual-definitions/

Are you sure you don't want to switch you

[2019-08-27 17:08] ramonawalls commented on #32
Thanks, @cmungall. That makes perfect sense. Let me try it with subclass axioms instead.

[2019-08-27 17:10] ramonawalls commented on #72
I just talked with Pier and he explained the use case for the class `community` (e.g., for SDGIO and related work). I will add it back in. We might also want to make a class for `human community`.

[2020-02-03 09:31] thearyung opened #76 "creation of a class for species range needed in the biorealm ontology"
in our new biorealm ontology we would like to express the areas where a population of taxa live and interact with its ecosystem.
We propose the following:
label: population range

definition: an ecosystem which is delimited by the ranges of an ecological population

[2020-02-06 02:17] ramonawalls commented on #76
Would this be a subclass of ENVO:ecosystem or a part of an ecosystem?

[2020-02-06 02:44] #32 closed

[2020-02-06 02:58] ramonawalls commented on #66
Until I get a dbxref property, I am adding the link to CMECS as a comment.

[2020-02-06 03:06] ramonawalls commented on #66
@pbuttigieg What the relationship between a tidal mangrove shrubland community and ENVO:tidal mangrove shrubland? Part of?

[2020-02-06 03:19] ramonawalls commented on #70
This issue is subsumed under #73

[2020-02-06 03:19] #70 closed

[2020-02-06 03:50] #74 closed

[2020-02-06 16:42] pbuttigieg commented on #76
Sounds like a part of  min 1 ecosystem. In a "pure" sense, it's more like a spatial region / site; practically it wouldn't be distinguishable from an ecosystem.

 Is this really a PCO entity? Maybe ECOCORE is better @diatomsRcool ?

[2020-02-06 17:17] ramonawalls commented on #66
I am going to hold off on adding this new class, because ENVO: tidal mangrove community references the old PCO term for community rather than ecological community. I will release the new version of PCO first, then fix the imports in ECOCORE and ENVO, then recreate this class.

[2020-02-06 17:23] ramonawalls commented on #66
Nevermind that last comment (which is already deleted). It was just a new way that protege displays obsolete classes.

[2020-02-06 17:23] #66 closed

[2020-02-06 20:02] #73 closed

[2020-02-06 20:03] ramonawalls commented on #73
@zhengj2007 and @yongqunh I added these classes to pco-edit.owl. Do you want to check them before I do a release?

[2020-02-06 20:31] zhengj2007 commented on #73
@ramonawalls I trust you and would like you to go ahead and make the release.

[2020-02-06 20:36] yongqunh commented on #73
@ramonawalls yes. please go ahead to release the terms. We will later then import these terms to OHMI. Thanks.

[2020-02-11 22:26] ramonawalls commented on #73
Thanks @zhengj2007  and @yongqunh. I'll let you know when the new release is done.

[2020-02-11 22:29] zhengj2007 commented on #73
Thanks @ramonawalls

[2020-02-11 22:39] ramonawalls commented on #76
@pbuttigieg This was moved here from ECOCORE. I think it fits in PCO because of its direct relationship to a population of organisms, but I could be out voted and move it back to ECOCORE. Either way, we should decide soon so @thearyung isn't left waiting.

[2020-02-11 22:49] zhengj2007 opened #77 "NTR: number of generations of multicellular organism"
## Preferred term label
number of generations of multicellular organism

## Synonyms
number of generations

## Textual definition
A data item of the number of steps in the line of descent from a common ancestor.

## Suggested parent term
IAO_0000027 data item

## Definition source
EFO_0000507 generation, NCIT_C88214 generation

## Suggested Axiom
is about' only 'multicellular organism' (CARO_00000

[2020-02-13 02:35] ramonawalls commented on #64
The OBO version is generated automatically with the latest ODK, so it will be available later tonight when I make a release.

[2020-02-13 02:35] #64 closed

[2020-02-13 03:23] ramonawalls commented on #11
@seltmann Do you know if this request is still relevant?

[2020-02-13 03:30] ramonawalls commented on #73
The release is out. I made a typo in the version IRI, so it say 2020-02-13 instead of 2020-02-12, but I don't think that will affect anything important, so I am going to leave it, and tomorrow it will be the 13th!

[2020-02-13 04:48] seltmann commented on #11
@ramonawalls it has been a while since I looked at this, but I think it is still relevant because of the vagueness of near.  It means an assumed interaction, but nothing direct. There is some overlap with http://purl.obolibrary.org/obo/RO_0002434 but it is not clear that the "two entities are causally connected."

[2020-02-17 12:04] pbuttigieg commented on #76
This above is circular.

Try:
"An ecosystem within which members of a given taxon can be found."

Also note the variants of range: https://en.wikipedia.org/wiki/Range_(biology)#Range

[2020-02-17 12:06] pbuttigieg commented on #76
I don't think so - it's broader than PCO's usual content and would result in mission creep. It's also one of those core ecological principles that ECOCORE was designed to host.

[2020-02-20 12:09] matentzn opened #78 "Weird annotation assertion causes problems"
This a[nnotation assertion in pco.owl](https://github.com/PopulationAndCommunityOntology/pco/blob/42d5ae9a4790f9515b7923c299374171ac3cb093/pco.owl#L646) causes some problems with ROBOT and profile validation:

[code]

I think this is because http://www.geneontology.org/formats/oboInOwl#created_by is built-in vocabulary of the OBO spec and you should not put any annotations on it! Could you remove

[2020-02-26 21:45] ramonawalls opened #79 "Change annotation property for license"
We are currently using http://purl.org/dc/elements/1.1/rights but should be using http://purl.org/dc/terms/license.

[2020-02-26 21:46] ramonawalls commented on #77
We can add this. I'll try to do a release within the next month.

[2020-02-26 21:51] ramonawalls commented on #78
The only usages of this axiom in PCO that I can find are coming in from IAO, GO, PATO, and ENVO. Are you suggesting that we remove the annotations from those imports before we do a release? That does not seem right.

[2020-02-26 21:53] ramonawalls commented on #78
Can you tell me where you are seeing the problem in FlyBase, @matentzn? Maybe we used that property once without realizing it.

[2020-02-26 21:57] ramonawalls commented on #79
also add dc11:description and dc11:title

[2020-02-26 21:58] ramonawalls opened #80 "Check missing definitions"
The ROBOT report (http://obo-dashboard-test.ontodev.com/pco/robot_report.html) says we are missing definitions for 8 terms. Check those, and add them if needed.

[2020-02-26 21:59] ramonawalls opened #81 "Add obsolete labels"
Some deprectated terms are not labeled as such. Apparently that's a problem. See http://obo-dashboard-test.ontodev.com/pco/robot_report.html and add them.

[2020-02-26 22:01] matentzn commented on #78
Oh I never saw this in FlyBase.. It just causes some issues with importing PCO into other ontologies! Maybe it is solved when you refresh the imports? I just checked IAO and PATO and they both do not have this axiom in their most recent releases!

[2020-02-26 22:14] ramonawalls opened #82 "Document plurality of users"
There is now a process for this:

Thanks @chris-grove, we'll work to make this more clear. Let me know if the following makes sense:

Every OBO ontology has an OBO registry file in the ontology/ directory of this GitHub repository. I think you're specifically interested in ontology/wbphenotype.md. That page has an Edit button with a pencil icon, which takes you to this editing interface where you

[2020-02-26 23:36] ramonawalls commented on #78
Hmm. I just made new imports about a month ago, and they are still there. It's not IAO we import, but the full file for IAO metadata. I just opened the latest release (http://purl.obolibrary.org/obo/iao/ontology-metadata.owl) and there are many uses of that property. Same with PATO. What are the two of us doing differently?
<img width="1057" alt="Screen Shot 2020-02-26 at 4 32 22 PM" src="https://

[2020-02-26 23:37] ramonawalls commented on #78
Also, we've never gotten a ROBOT error about that annotation property, but maybe you have custom checks set up.

[2020-02-27 11:15] matentzn commented on #78
Ok, so first thing:

This is a great mystery that I could not solve yet even after looking for a while. First of all: The annotation properties themselves are totally fine! Its the assertion

[code]

that is problematic. So instead of this (this is what it currently looks like):

[code]

It should look like:

[code]

You can see [here](https://github.com/obophenotype/human-phenotype-ontology/blob/

[2020-02-27 20:32] ramonawalls commented on #78
Thanks for analyzing so carefully! You hypothesis is close. All of the imports are new, but I don't build them automatically with ODK. I use Robot, and then skip rebuilding them during release process. I do this to have more control over the import files, especially ENVO.  I am working on integrating the import file builds into the releaseIn Robot, as I get better with make files. In Robot, I use

[2020-02-28 07:58] matentzn commented on #78
Ahhh ok! This makes sense! Maybe avoid doing stuff manually.. I dont know whether `--annotate-with-source` is really worth it; You always have to remember that whatever stuff you add to your ontology, everyone downstream is adding as well - and maybe they dont want such annotations on all their classes - even if they are GO. This puts the burden on everyone else to remove such annotations again! J

[2020-02-28 16:35] zhengj2007 commented on #77
Thanks @ramonawalls

[2020-02-28 21:10] ramonawalls commented on #78
Thanks again, Nico. I don't like to do anything manually either, but I don't use the defaults, and PCO is an old ontology - hard to script everything at this point. I suppose my hacking tolerance is quite a bit lower than yours! I just posted a question to obo discuss to try to figure out what the current consensus is on using defined by annotations with imports.

[2020-02-28 21:11] ramonawalls commented on #78
Oops. Reopening until the issue is fixed.

[2020-02-28 22:35] matentzn commented on #78
:P Oh god now you alerted the whole world to this issue.. Hahah. Ok... Lets I hope I leave the discussion with my head still attached!

[2020-05-11 18:07] cmungall opened #83 "Simplify axiom structure for ecological community"
https://www.ebi.ac.uk/ols/ontologies/pco/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPCO_0000002

![image](https://user-images.githubusercontent.com/50745/81595310-1fac5380-9377-11ea-956c-8338a3d7171b.png)

Can we split this into two SubClassOf axioms? Logically equivalent. See https://github.com/ontodev/robot/issues/690

This is currently messing with our envo release, we end up with ecolo

[2020-05-12 04:22] cmungall commented on #83
Note: I think all that is needed here for robot reason to be run prior to release, using a DL reasoner

[2020-05-14 02:41] cmungall opened #84 "versioned purls do not resolve"
[code]

[2020-05-14 03:28] cmungall opened #85 "PCO has an https class PURL for multi-species collection of microbes"
See:

[code]

this actually causes massive problems

we're using this class in ENVO, cc @pbuttigieg

I think the cleanest thing is just to fix the PURL, remove the s from https

Now formally PURLs should not go away. But obsoleting this one and then accidentally reinstating a new PURL with the same ID but different URL scheme could potentially be disastrous

we need standard ODK checks for this!!

[2020-05-14 03:32] cmungall commented on #85
aactually we're not using this directly in envo, we use a subclass

[2020-07-22 17:54] ramonawalls opened #86 "NTR: organism count"
For new term requests, please provide the following information:

## Preferred term label

organism count

## Synonyms

organismal count

## Textual definition

A count that inheres in an organism or collection of organisms of the same taxon.

## Suggested parent term

Please look in the hierarchy in a browser such as [OLS](http://www.ebi.ac.uk/ols/ontologies/pco]

## Attribution

https://orcid.or

[2020-07-22 18:36] zhengj2007 commented on #77
Hi @ramonawalls, any update on this tracker? Thanks!

[2020-07-22 19:47] ramonawalls commented on #85
Hmm. I'll fix this one and check the other terms that were created at the same time. Probably I had protege configured incorrectly.

[2020-07-22 20:29] ramonawalls commented on #77
Sorry I missed this @zhengj2007 . I will include it in the release I plan to do by end of next week.

[2020-07-22 20:34] ramonawalls commented on #37
@pbuttigieg I think this may have been for SDGIO. Do you know if a term was ever created there?

[2020-07-22 20:37] ramonawalls commented on #45
Done some time ago.

[2020-07-22 20:37] #45 closed

[2020-07-22 20:38] ramonawalls commented on #4
These should now be covered by ECOCORE.

[2020-07-22 20:38] #4 closed

[2020-07-22 20:40] ramonawalls commented on #8
Darwin Core mappings happen in BCO, so this issue does not need to be here.

[2020-07-22 20:40] #8 closed

[2020-07-22 20:41] zhengj2007 commented on #77
Thanks @ramonawalls

[2020-07-22 21:27] ramonawalls commented on #5
These relations should live in ECOCORE instead of PCO

[2020-07-22 21:27] #5 closed

[2020-07-22 21:33] ramonawalls commented on #9
Also see OBI's http://purl.obolibrary.org/obo/OBI_0001968 for OTU matrix.

[2020-07-23 19:21] kaiiam commented on #86
xref https://github.com/UA-SRC-data/srpdio/issues/3

[2020-07-28 08:03] cmungall opened #87 "Incorrect logical def for: pair of interacting organisms of the same species"
[code]

The logical def is not correct

consider the pair human1 and mouse1. Both are members of exactly 1 species. So the pair satisfies the definition and classifies under this class.

Warning: metaclasses are hard to do right in OWL, trying to recapitulate metaclasses using mereology only gets you so far

In this particular case you can define a property chain and then say

`= has-member-member

[2020-07-28 08:04] cmungall commented on #87
Same problem with single-species collection of organisms

(RO_0002351 only 'organism or virus or viroid')
 and (RO_0002351 only (RO_0002350 exactly 1 'species as a collection of organisms'))
 and (RO_0002351 min 2 'organism or virus or viroid')

[2020-07-28 08:09] cmungall commented on #87
Note also for species as a collection of organisms you can state

organism SubClassOf member-of exactly 1 species

also add

'collection of organisms' SubClassOf has-member only organism (which I assume is the intent - you're recapitulating basic sets here, yes?)

[2020-07-29 16:58] ramonawalls commented on #87
Thanks, @cmungall ! I'm on it.

[2020-07-29 17:12] ramonawalls opened #88 "NTR: taxon as collection of organisms"
For new term requests, please provide the following information:

## Preferred term label

taxon as collection of organisms

## Synonyms

taxon

## Textual definition

A collection of organisms that has as members organisms of the same taxon. The taxon may be at any level. If the taxon is species, then this is the same as `species as a collection of organisms`. Membership in instances of this clas

[2020-07-29 17:13] ramonawalls commented on #88
Should add an xref to http://edamontology.org/data_1868

[2020-08-05 00:02] cmungall commented on #88
(I will call this class by its acronym TACOO)

This isn't quite correct, otherwise the mereological sum consisting only of you+me would satisfy the definition. There needs to be some concept of maximality (see below on notes on time).

also: the definition *looks* circular, though in fact it's not as you are defining TACOO (taxon-sensu-collection) in terms of taxon-sensu-metaclass. But this poses

[2020-08-06 20:38] ramonawalls commented on #88
Thanks for the thoughtful feedback, @cmungall . Right about the definition. It should be defined similarly to `species as a collection of organisms` which is "A collection of organisms that has as parts every organism of given species and no organisms of any other species" with the comment "This term is neutral with respect to which organisms are included in a species. Membership will depend on th

[2020-08-06 20:45] ramonawalls commented on #88
@cmungall I see now that you were saying that a metaclass in this case means that instances of the class would be classes in NCBI.

[2020-08-06 21:25] #81 closed

[2020-08-06 21:30] #79 closed

[2020-08-06 21:46] ramonawalls opened #89 "Deprecate interaction roles"
Interactions are now covered in ECOCORE. We can deprecate `predator role`, `prey role`, and `symbiont role`.

[2020-08-06 21:53] #89 closed

[2020-08-06 22:41] ramonawalls commented on #53
The has participant axiom already exists. To help clarify, I moved most of the comment into the definition.

[2020-08-06 22:42] #53 closed

[2020-08-06 23:09] #60 closed

[2020-08-07 20:11] ramonawalls commented on #86
@kaiiam

The problem with the proposed definition is that often the count is zero, which then can't inhere in an organism. We had this same challenge in the PPO, which we solved by defining `plant structure presense` as "A 'plant phenological trait' that is measured by the number of some 'plant structure' that are part of a 'whole plant'."

I propose a similar definition for organism count (syn: o

[2020-08-07 20:20] ramonawalls commented on #86
Looks like I can't transfer between orgs. Will close this one and open a new one in BCO.

[2020-08-07 20:20] #86 closed

[2020-08-07 20:54] ramonawalls commented on #85
Yes, this was a whole batch of terms added at the same time:

PCO_0000040 tidal mangrove shrubland community

PCO_0000041 invisible to unaided eye

PCO_0000042 microbe

PCO_0000043 collection of microbial organisms

PCO_0000044 multi-species collection of microbes

PCO_0000045 single species collection of microbes

PCO_0000046 microbial population

@zhengj2007 @yongqunh: This will impact your work

[2020-08-07 21:57] #85 closed

[2020-08-07 22:10] kaiiam commented on #86
xref https://github.com/BiodiversityOntologies/bco/issues/115

[2020-08-07 22:43] ramonawalls commented on #48
@pbuttigieg My plan is to use NCBI and make classes for Archea, Bacteria, Eukaryota, Viridiplantae, and Fungi. Are there any others you need? I consulted with my resident animal ecologist/biodiversity instructor, and he felt that other high level groupings (like Metazoa) are rarely studied as communities. If classes for other clades are needed, we can add those when requested, as long as a good de

[2020-08-07 23:19] ramonawalls commented on #68
I am going to make a class for insect population and leave the other terms for ECOCORE.

[2020-08-10 08:17] kaiiam commented on #48
I believe we had a similar discussion when trying to figure out some of the host types for the GOLD data there were some organismal groupings like `fish` that are paraphyletic, and can't be pinned down to one NCBItaxon group. I have a list of these examples if you want me to dig it up although I don't know if GOLD will still need them.

@ramonawalls of the examples you gave however, all of these a

[2020-08-10 08:29] kaiiam commented on #48
Here are my notes of organismal groupings (from the GOLD paths), which aren't monophyletic clades:

* green algae

There is no obvious class for green algaea unlike brown it's not just one phylogenetic clade. According to the [wiki page](https://en.wikipedia.org/wiki/Green_algae):

* fish

acording to the [wiki page:](https://en.wikipedia.org/wiki/Fish)

Hence there is no one NCBItaxon class there

[2020-08-10 14:29] balhoff commented on #88
Taxrank was created by @pmidford. But my guess would be that the instances would be the classes in NCBI, so I guess that would make them metaclasses. They're just used as values for annotation properties on taxon classes.

[2020-08-10 21:12] johnwjudkins opened #90 "NTR: parasite isolate population"
## Preferred term label
parasite isolate population

## Textual definition
A microbial population of parasites that is defined by shared features such as genetic markers reflecting a common origin and distinguishing the population from other related parasite populations.

## Suggested parent term
https://purl.obolibrary.org/obo/PCO_0000046 microbial population

## Attribution
VEuPathDB

## Example

[2020-08-11 04:08] pmidford commented on #88
Yes, the terms were intended as metaclasses, but in practice, they would be used as annotation values, so what Jim said.

[2020-08-12 23:41] ramonawalls commented on #48
Let us wait to see if there is a need for them.

That is why I chose those ones. :)

I think taxonomic groupings fit better here, functional groupings in ECOCORE. Algae is going to move here.

[2020-08-13 00:37] ramonawalls opened #91 "Replace IAO ontology metadata import with OMO"
New import file is http://purl.obolibrary.org/obo/omo.owl

[2020-08-13 00:39] #91 closed

[2020-08-13 07:29] kaiiam commented on #48
Sounds good, I'm interested to see what kind of pattern this will be. Would we want a Robot Template that has multiple slots for different NCBITaxon terms to make something like the union of them? e.g. `fish = Actinopterygii, Hyperotreti, Hyperoartia ...`.

Or are you thinking of something more along the lines of `X community`? Could this do both?

[2020-08-14 21:19] zhengj2007 commented on #77
Hi @ramonawalls, any progress on it? When will be the term available? Thanks!

[2020-08-14 22:15] ramonawalls commented on #48
I think it actually needs to be `X collection of organisms` because there are times when the "community" will only have a single species in it. Then at the data level, it can be decided if it is an `ecological community` or a `population`.

[2020-08-14 23:20] ramonawalls commented on #83
I have changed this axiom, but it is still going to inherit the compound axiom from `collection of organisms`:

equivalent to
(RO_0002351 only 'organism or virus or viroid')
 and (RO_0002351 min 2 'organism or virus or viroid')

Does that cause problems, @cmungall ? I don't think we can get rid of that one.

[2020-08-14 23:26] ramonawalls commented on #83
Also, I don't understand why this is hanging out as a subclass of thing in OLS, since in http://purl.obolibrary.org/obo/pco.owl it is a subclass of `multi-species collection of organisms`, since I run the reasoner before release.

[2020-08-14 23:28] #83 closed

[2020-08-14 23:49] ramonawalls commented on #37
Thinking about this again, mass density does seem reasonable. It is "A physical quality which inheres in a bearer by virtue of some influence is exerted by the bearer's mass per unit size." Organisms have mass, so it makes sense to talk about the mass of a collection of organisms exerting some influence per unit size.

[2020-08-17 16:38] ramonawalls commented on #77
@zhengj2007 I would like to make this a subclass of  http://purl.obolibrary.org/obo/STATO_0000047 (count): "a count is a data item denoted by an integer and represented the number of instances or occurences of an entity". Count is a subclass of `measurement datum`. Does that work for OBI? I have several other count classes I am working on as well.

I am just a few days away from a release now. Sor

[2020-08-17 19:15] ramonawalls opened #92 "Find a new relation for household"
Currently `household is subClassOf 'ecologically related to' some 'human dwelling', but RO says that `ecologically related to` is only a grouping relation and should not be used directly. I don't think any of the existing subproperties in RO are appropriate. We may need a new relation.

[2020-08-17 20:01] ramonawalls opened #93 "Imports from IAO and STATO"
Need to import http://purl.obolibrary.org/obo/STATO_0000047 (count) and http://purl.obolibrary.org/obo/IAO_0000136 (is about).

[2020-08-17 20:08] #93 closed

[2020-08-17 20:17] #77 closed

[2020-08-17 20:17] ramonawalls commented on #77
http://purl.obolibrary.org/obo/PCO_0000054

[2020-08-17 22:37] ramonawalls commented on #88
Add an xref to http://purl.obolibrary.org/obo/GENO_0000113.

Alternative labels: taxonomic unit, taxonomic group

[2020-08-19 15:43] ramonawalls commented on #48
Postponing this for the next release, since there is not an urgent demand.

[2020-08-19 18:46] ramonawalls commented on #84
This is an issue in the OBO Foundry YAML file, which I will fix for both releases after this release is done.

[2020-08-19 18:57] ramonawalls commented on #80
Some of these were fixed by deprecating roles in issue #89 .

Still to fix:
population birth rate [PCO:0000006]
population death rate [PCO:0000007]
population growth rate [PCO:0000008]
potluck [PCO:0000037]
pair of interacting organisms of the same species [PCO:0001001]

[2020-08-19 21:51] ramonawalls commented on #37
Will also add `overcrowded human population`.

[2020-08-19 21:55] #37 closed

[2020-08-19 22:19] ramonawalls commented on #88
I think we need stronger axioms than what taxrank provides, also these will be pre-composed with specific classes from NCBITaxon, but it would be good to include xrefs to taxrank.

[2020-08-19 22:59] #88 closed

[2020-08-19 23:24] #90 closed

[2020-08-19 23:53] ramonawalls commented on #80
Potluck just had the definition tagged as a definition source.

[2020-08-20 00:06] #80 closed

[2020-08-20 00:08] ramonawalls commented on #9
Now that it is 2020, we should also add a term for ASV (amplicon sequence variant)

[2020-08-20 00:18] ramonawalls commented on #9
I am debating whether to make this a subclass of taxon as collection of organisms (TACOO)  or information content entity. For the use cases I am aware of, I think TACOO makes a better parent. For example:

1. To define a TACOO in biodiversity studies where there is no named taxon
2. To define the elements of OBI's operational taxonomic unit matrix (http://purl.obolibrary.org/obo/OBI_0001968), whic

[2020-08-20 09:42] kaiiam opened #94 "NTRs: Shannon and Simpson diversity"
For the UA-SRC project we'll need to represent some data which has to do with diversity metric calculated upon microbial 16S sequence data. Specifically, `Richness`, `Shannon`, `Simpson`, and `Inverse Simpson` diversity.

We currently have the term [community species richness](http://purl.obolibrary.org/obo/PCO_0000010) suitable for `Richness` under the [quality of an ecological community](http://

[2020-08-20 16:31] ramonawalls commented on #94
Thanks @kaiiam! I'll get this in the release today. I will use the wikipedia references, though, since I think they are more stable than the .edu ones.

[2020-08-20 16:44] #94 closed

[2020-08-26 22:39] ramonawalls commented on #84
I don't understand why these are not working. By my understanding, specifying

`- exact: /releases/2020-02-12/pco.owl
  replacement: https://raw.githubusercontent.com/PopulationAndCommunityOntology/pco/2020-02-12/pco.owl
`
Should result in the purl `http://purl.obolibrary.org/obo/pco/releases/2020-02-12/pco.owl` that resolves to `https://raw.githubusercontent.com/PopulationAndCommunityOntology/pco

[2020-08-26 22:58] cmungall commented on #84
This works:

[code]

The issue is that the 2020-02-12 PURL resolves to OWL that declares it has a 2020-02-13 PURL, and you have no registered entry here. Guess you were making a release around midnight...?

btw, one advantage of having `/releases/` in the PURL is that you can have a generic redirect, rather than registering the cross-product of all products of all releases. This is how we do it fo

[2020-08-26 23:03] cmungall opened #96 "NTR: alpha, beta, gamma diversity"
http://bioportal.bioontology.org/search?utf8=%E2%9C%93&query=alpha+diversity&button=

this is already in OHMI (inheriting from PCO grouping) but it seems the concept should be independent of concept of host-microbiome interactions, applies to ecology as a whole

and should this be modeled as a property class or data property?

[2020-08-26 23:18] ramonawalls commented on #84
OMG, it is simple. I never even thought about a typo in the date.

Yes, I plan to add prefix redirects too, but I wanted to make sure I understood properly.

Thank you, @cmungall !

[2020-08-27 20:28] #84 closed

[2020-09-05 23:47] ramonawalls commented on #96
We have several terms for already diversity which are modeled as subclasses of PATO:quality, inhering in an ecological community. I think alpha, beta, and gamma diversity could be subclasses of PCO_0000019, community species diversity.

[2020-09-05 23:58] ramonawalls opened #97 "NTR: plant density and seedling density"
For new term requests, please provide the following information:

## Preferred term label

plant density

seedling density

plant population density

seedling population density

## Synonyms

## Textual definition

plant density: The density of plants in an ecological community or population, often measured as the number of plants per area.

seedling density: The density of seedlings in an ecologi

[2020-09-07 15:59] celineaubert commented on #97
Hi Ramona,
plant and seedling density terms are used by agronomists to talk about single-species population. I am not sure the terms plant/seedling population density will be understood.

https://orcid.org/0000-0001-6284-4821

[2020-09-07 20:12] ramonawalls commented on #97
Thanks @celineauber, that is great to know. The general terms for plant density are widely used by plant ecologists doing, e.g. field surveys, so I think having both kinds of classes is important. Then AGRO and PO could just import the single-species classes. Do you think it would be more helpful to have the classes labeled as:

plant density
- plant density of a single-species population*
-- seed

[2020-09-08 07:02] celineaubert commented on #97
Hi Ramona,
What about using the term ''plant density'' for single-species population density, and using a term like ''plant density for multiple species'' for multi-species density?

[2020-09-24 10:00] kaiiam commented on #48
Just speculating here that perhaps in the future these `X collections of organism terms` or something similar could be used to help solidify the NBCITaxon hierarchy, used for the organism descriptions in NCBI. Just a though xref to the envo issue about it [here](https://github.com/EnvironmentOntology/envo/issues/248).

[2020-10-22 11:50] dosumis opened #98 "Odd axiom on has_member_of causing inconsistencies for VFB - delete?"
Looks like an accidental partial property chain:

![image](https://user-images.githubusercontent.com/112839/96866780-b5d6c080-1463-11eb-8582-e68bd0efba3c.png)

This causes potential problems for all ontologies using the very general relation has_member where PCO is pulled in via some import chain.  (In the case of VFB, DPO uses PCO & we have lots of general use of has_member in the simple partonom

[2020-10-23 17:27] #98 closed

[2020-10-23 17:33] ramonawalls commented on #69
Make PR in PATO

[2020-10-23 17:33] ramonawalls commented on #76
Make PR in ecocore

[2020-11-01 22:04] ramonawalls commented on #97
@celineaubert Unfortunately, that is not going to work if we need both single and multi-species density terms (which we do -- I am working on a project now that needs the multi-species density class), because `plant density` and `seedling density` would be the parent terms. However, I agree that having them as the parent terms could get confusing, because people will just pick that term instead of

[2020-11-01 22:04] ramonawalls commented on #97
Also open to better name suggestions, as long as they are semantically unabiguous!

[2020-11-02 07:45] celineaubert commented on #97
Agree with your proposed terms. I dont have a better name suggestion for now.

[2020-11-02 19:37] ramonawalls commented on #87
I added the second axiom, but the first one is for a CARO term. I fear that adding axioms to it will cause problems with any ontologies that end up importing it via PCO.

[2020-11-20 21:26] ramonawalls commented on #58
Replaces http://purl.obolibrary.org/obo/ENVO_02500019. No definition in ENVO.

Most definitions of algae exclude Cyanobacteria, so I think we should label this class 'alga excluding Cyanobacteria'.

Similar to `microbe`, this will be a subclass of `CARO:organism` (but not `organism, virus, or viroid`, since it includes only cellular organisms. It should also be a subclass of `NCBItaxon:cellular or

[2020-11-20 22:57] #58 closed

[2020-11-21 19:20] ramonawalls commented on #69
Fixed with PATO PR https://github.com/pato-ontology/pato/pull/350

[2020-11-21 19:20] #69 closed

[2020-12-15 21:22] diatomsRcool commented on #55
The more I think about it, the more I think all competition terms should be in the same place, i.e., PCO

[2020-12-16 11:22] matentzn opened #100 "Wrong PURLS in PCO (https)"
https://purl.obolibrary.org/obo/PCO_0000040
https://purl.obolibrary.org/obo/PCO_0000041
https://purl.obolibrary.org/obo/PCO_0000042
https://purl.obolibrary.org/obo/PCO_0000043
https://purl.obolibrary.org/obo/PCO_0000044
https://purl.obolibrary.org/obo/PCO_0000045
https://purl.obolibrary.org/obo/PCO_0000046

An example of a correct IRI is (no https!):
http://purl.obolibrary.org/obo/ENVO_01000549

C

[2020-12-19 01:28] cmungall commented on #100
I think this is a dupe of #85 - I believe these were all fixed @ramonawalls  - maybe just need a new release?

[2021-02-18 21:05] linikujp opened #101 "COVID19 SoDH related terms available?"
Dear PCO developers,
I am wondering if you have any terms that covers the Social Determination of Health in COVID19?
Please let me know.

Thanks,
Asiyah

[2021-03-20 23:42] cmungall opened #102 "incorrect logical def for single-species collection of organisms"
A material entity that has as parts two or more organisms, viruses, or viroids of the same species and no members of any other species.

EquivalentTo
'collection of organisms'
 and ('has member' min 2 'organism or virus or viroid')

The text and logical defs don't match, which is a bad sign. See https://douroucouli.wordpress.com/2019/07/08/ontotip-write-simple-concise-clear-operational-textual-def

[2021-03-21 00:03] cmungall opened #103 "taxon as collection of organisms definition is inconsistent with BFO superclass"
taxon as collection of organisms:

_A collection of organisms that has as members every organism of a taxon and no organisms of any other equal or higher ranked taxon. The taxon may be at any level. If the taxon is species, then this is the same as the class species as a collection of organisms. When defining a taxon, it is generally understood that members include both living organisms and dead o

[2021-03-21 00:13] cmungall commented on #87
Still not fixed?

The current logical definition is:

'collection of organisms'
 and ('has member' exactly 2 'organism or virus or viroid')

which doesn't match the text def:

A collection of organisms that consists of exactly two organism, viruses, or viroids that are interacting with each other.

I think it may be impossible to provide an OWL definition for this class, so the equivalence axiom s

[2021-03-21 00:27] cmungall opened #104 "Add instances to PCO"
These should be added as either a supplemental owl file, or even with pco. These would help explain some of the meta-ish concepts, and also serve as a basis of unit tests.

I made a visual of an example abox. Does this correspond with the intent of PCO? In particular, do I have the edge labels highlighted yellow correct?

![image](https://user-images.githubusercontent.com/50745/111889750-54c70080-

[2021-03-22 18:59] cmungall commented on #101
Is this in scope for PCO?

[2021-03-25 22:17] ramonawalls commented on #87
Yeah, I have tried to find an owl definition that works, but without success. The equivalency axioms do a nice job with building the hierarchy, but as you say, they don't match the text definition.

I remember there was a use case for this when it was added, but I don't remember what it is now. Guess it is a good idea to document use cases when new terms are created. Regardless, I hesitate to remo

[2021-04-21 01:43] ramonawalls commented on #100
Yes. They have been fixed in #85

[2021-04-21 01:43] #100 closed

[2021-04-21 01:44] ramonawalls commented on #101
@linikujp We have not added terms for this specifically. If you have new term requests, please let me know.

[2021-04-21 01:56] ramonawalls commented on #103
Thanks, Chris. This is really helpful. I will add it to the next release, so as not to delay this one.

[2021-04-21 02:54] ramonawalls commented on #104
Thanks again. Another one I will add to the next milestone.

I had not thought yet about the relation between e.g. Class ACO and Species ACO, but, yes, the SubClassOf part-of some relation should be correct, and the Human (collection) part of Mammal (collection) also seems right.

The instance level relations are what we intended.

[2021-04-22 00:08] ramonawalls commented on #76
I added this to Ecocore as a subclass of `environmental zone` which is a site that is part of some ecosystem. I'll do a PR there as soon as I get access to the repo.

[2021-04-22 00:08] #76 closed

[2021-04-22 01:38] #96 closed

[2021-04-22 02:00] ramonawalls commented on #97
Final labels and definitions:

-plant density
-- plant density of a population
--- seedling density of a population
-- plant density of an ecological community
--- seedling density of an ecological community
-- seedling density
--- seedling density of a population
--- seedling density of an ecological community

plant density: The density of plants in an ecological community or population, often m

[2021-05-01 02:14] #87 closed

[2021-05-03 06:26] ramonawalls commented on #10
These should go in RO or ECOCORE

[2021-05-03 06:26] ramonawalls commented on #11
These should go in RO or ECOCORE.

[2021-05-03 06:27] ramonawalls commented on #12
These should go in ECOCORE.

[2021-05-10 13:51] meichen-liu opened #105 "NTR: biota, marine biota"
Cross reference EnvironmentOntology/envo#1120 ([comment](https://github.com/EnvironmentOntology/envo/pull/1121#discussion_r629340927))

Dear PCO team,

With reference to the ENVO issue above, I'd like to request the addition of "biota" and "marine biota" to PCO. We've noticed that you have "biota" as a related synonym to "cellular organisms" but would appreciate the explicit addition of "biota" as

[2021-09-23 19:48] ramonawalls opened #106 "Add example A-box axioms"
Per issue #103: "As an aside, I think pco should come with a set of exemplar abox axioms that can simultaneously illustrate the sometimes meta-level thinking in pco, as well as serve as unit tests."

[2022-08-15 18:46] pbuttigieg commented on #12
PCO is best for these classes, but we'll create them in ENVO to save overhead and delays until OBO figures out a smoother way to sync edit files

[2022-08-15 18:47] #12 closed

[2022-10-20 11:21] celineaubert commented on #97
@ramonawalls I'm checking on the progress of this issue. We need those terms now to annotate agronomic data. When would they be available in TO? Thanks